@use '../../sass/_mixins.scss' as *;
@use '../../sass/_variables.scss' as *;
%_100{
  width: 100%;
  height: 100%;
}
.text {
  opacity: 0;
  text-align: left;
  font-size: 45px;
  padding: 15px;
  font-weight: 700;
  color: $black;
  p {
    width: 100%;
    @include animation('type .3s steps(60, end) 3.7s');
  }
  p:nth-child(2) {
    @include animation('type2 .5s steps(60, end) 3.7s');
  }
  @include animation('on .6s ease-in-out 3.7s forwards');
  
  button {
    background:$bg;
    color:$yellow;
    border:1px solid $bg;
    letter-spacing:2px;
    padding:.5rem 2.5rem;
    font-size:12px;
    font-weight:600;
    text-transform:uppercase;
    cursor:pointer;
    @include transition(color .5s, background-color .5s);
    @include animation('on .6s ease-in-out 4s forwards');
    &:hover {
      background:$yellow;
      color:$bg;
      border:1px solid $bg;
    }
  }
}
.splashWrapper{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 25%;
  z-index: 10
}
.splash {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgb(26, 26, 26);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  &_logo {
    position: absolute;
    margin: -15px 0 0 -25px;
    top: 50vh;
    z-index: 5;
    left: 50vw;
    width: 50px;
    text-align: center;
    height: 30px;
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
    opacity: 1;
    @include animation('logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards');
  }
  &_svg {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    @extend %_100;
    bottom: 0;
    right: 0;
    svg {
      @extend %_100;
      -webkit-backface-visibility: visible;
      backface-visibility: visible;
      rect {
        @extend %_100;
        fill: $yellow;
        stroke: 0;
        -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
        clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
        @include animation('expand .7s ease-in forwards 2.7s');
      }
    }
  }
  &_minimize {
    position: absolute;
    margin: auto;
    @extend %_100;
    top: 0;
    left: 0;
    z-index: 4;
    svg {
      @extend %_100;
      -webkit-backface-visibility: visible;
      backface-visibility: visible;
      rect {
        @extend %_100;
        -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
        clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
        @include animation('scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s');
      }
    }
  }
}

@include keyframes(scale) {
  100% {
    -webkit-clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(45vw 40vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
  }
}

@include keyframes(hide) {
  100% {
    fill: transparent;
  }
}

@include keyframes (off) {
  100% {
    opacity: 0;
  }
}

@include keyframes (on) {
  100% {
    opacity: 1;
  }
}

@include keyframes (logo) {
  100% {
    color: $black;
  }
}

@include keyframes (type) {
  0% {
    width: 0;
  }
}

@include keyframes (type2) {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

@include keyframes(expand) {
  0% {}
  25% {
    -webkit-clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 58vh, 45vw 58vh);
    clip-path: polygon(0vw 0vh, 55vw 40vh, 55vw 60vh, 45vw 60vh);
    fill: white;
  }
  50% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 45vw 60vh);
    fill: $yellow;
  }
  75% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 55vw 60vh, 0vw 100vh);
    fill: white;
  }
  100% {
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
    fill: $yellow;
  }
}

